.container {
    margin: 0 auto;
  
    //   width 320px - 1259px
    @include mobile {
      padding: 0 20px;
      max-width: $maxMobile;
      min-width: $mobile;
    }
  
    // width 1260px +
    @include desktop {
      padding: 0 120px;
      min-width: $desktop;
    }
}
