@import "~normalize.css";

@font-face {
    font-family: 'Roboto-Regular';
    src: url('@fonts/roboto-regular.ttf');
  }

  $font-family-js: 'Roboto-Regular', sans-serif;

body {
    font-family: $font-family-js;
    background-color: crimson;    
}