@import "~normalize.css"

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter.ttf');
  }

  $font-family-js: 'Inter', sans-serif;

body {
    font-family: $font-family-js;
    background-color: crimson;    
}